<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../static/css/style.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>
</head>
<body>
  <div id="wrapper">
    <div class="navi-bar">
      <img src="../static/images/fish.png" alt="" class="logo-image">
        <ul class="navi">
          <li></li>
          <li><a href="login.html">LOGIN</a></li>
          <li><a href="registration.html">REGISTER</a></li>
          <li><a href=""></a></li>
          <li><a href=""></a></li>
          <li><img src="../static/user-images/{{username}}" alt=""></li>
        </ul>
    </div>
    <div class="header">
      <p id="title"><br></p>
      <p>test111</p>
    </div>
    <div class="task_list">
      <div class="tasks">
        <img src="../static/images/placeholder.png" alt="task_image_thumbnail">
        <h4>Title</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas id purus id eros tristique ultrices. In efficitur consectetur libero, sit amet porta mi malesuada quis. Integer interdum nec lorem quis consectetur. Mauris auctor sagittis enim et aliquet. Praesent viverra fringilla quam. Proin sagittis accumsan diam ut auctor.</p>
      </div>
      <div class="tasks">
          <img src="../static/images/placeholder.png" alt="task_image_thumbnail">
          <h4>Title</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas id purus id eros tristique ultrices. In efficitur consectetur libero, sit amet porta mi malesuada quis. Integer interdum nec lorem quis consectetur. Mauris auctor sagittis enim et aliquet. Praesent viverra fringilla quam. Proin sagittis accumsan diam ut auctor.</p>
      </div>
      <div class="tasks">
          <img src="../static/images/placeholder.png" alt="task_image_thumbnail">
          <h4>Title</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas id purus id eros tristique ultrices. In efficitur consectetur libero, sit amet porta mi malesuada quis. Integer interdum nec lorem quis consectetur. Mauris auctor sagittis enim et aliquet. Praesent viverra fringilla quam. Proin sagittis accumsan diam ut auctor.</p>
        </div>
    </div>
    <!-- Flask接口 项目列表 -->
    <!-- <div>
      {% for item in tasks %}
        <div>
          <h1>Hello {{username}}</h1>
        </div>
        <div>
          <a href="{{ url_for('task_detail', id=id)}}">test</a>
        </div>
      {% endfor %}
    </div> 
    <div>
        <a href="../new_task"><button>new_task</button></a>
    </div> -->
  </div>
</body>
</html>