<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Task</title>
</head>
<body>
    <form method="post" action="/new_task">
        <!-- <input class="form-control" type="txt" id="name1" name="name1" maxLength="20" value="" onblur="checkName1(this.value);" placeholder="Username"/> -->
        <input type="txt" name="nickname" maxLength="20"/>
        <input type="txt" name="task_title" maxLength="20"/>
        <input type="txt" name="task_description" maxLength="20"/>
        <input type="submit" value="new_task">
    </form>
</body>
</html>